:root {
  --react-blue: #61dafb;
  --react-grey: #282c34; 
  --disabled-btn-bg: #77787C;
  --disabled-btn-fg: #58595C;
  --transition-time: 0.3s;
  --font-family: "Gill Sans", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: var(--react-blue);
}

.App-btn {
  padding: 15px 25px;
  width: 225px;
  font-size: 20px;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--react-blue);
  border-style: none;
  border: 3px solid var(--react-blue);
  border-radius: 10px;
  border-color: var(--react-blue);
  transition: var(--transition-time);
  font-weight: 600;
}

.App-btn:disabled {
  background-color: var(--disabled-btn-bg);
  color: var(--disabled-btn-fg);
  border: var(--disabled-btn-fg);
}

.App-btn:enabled:hover {
  background-color: var(--react-blue);
  color: var(--react-grey);
  transition: var(--transition-time);
}

.App-buttons {
  display: flex;
  gap: 25px;
}

.App-display-text {
  display: flex;
  align-items: center;
  height: 50px;
}